h1 {
	color:white;
	text-shadow: rgb(0, 128, 4) 1px 0 10px;
}

h2 {
	color:#3f3faf;
	margin: 5px;
	background: linear-gradient(0.25turn, white, #ccafff);
}

.happy {
    color: rgb(255, 0, 0);
    font-weight: bold;
}

body {
  background: linear-gradient(135deg, #fff98d);
}