span {
  font-size: small;
  background-color: #dfdfdf;
}

p {
	color: navy;
}

p.info {
	font-size: 10pt;
}

h1 {
	color:white;
	text-shadow: navy 1px 0 10px;
}

h2 {
	color:#3f3faf;
	margin: 5px;
	background: linear-gradient(0.25turn, white, #ffefaf);
}

div#zentai {
	display: grid;                      /* グリッドレイアウトにする*/
    grid-template-columns: 1fr 1fr; /* 3列にする．幅は 1:2:2 の比率*/
    grid-auto-rows: 200px 200px;        /* 高さは 100px */
    grid-gap: 10px; 
}

div#zentai > div {
	background-color: #ffefaf;
	padding:5px;
}

img.sign {
    float: right;   /* 画像を右に浮かせる */

    width: 100px;
    height: 100px;
    margin: 10px 0 10px 10px;
}
